<!DOCTYPE html>
<html>
  <script src='./node_modules/angular/angular.js'></script>
  <body>

    <div ng-app="myApp" ng-controller="personCtrl">

    Plain Text: <input type="text" ng-model="plainText"><br>
    <br>

    {{cypherText}}
    <br>

    <button ng-click="subCypher(1)">Substitution Encrypt</button>
    <br>

    <button ng-click="subCypher(0)">Substitutio Encrypt</button>
    <br>

    <button ng-click="blockCypher()">Block Encrypt</button>
    <br>

    <button ng-click="blockDecypher()">Block Decrypt</button>
    <br>

    <button ng-click="permutationCypher()">Permutation Encrypt</button>
    <br>

    <button ng-click="permutationCypher()">Permutation Decrypt</button>
    <br>

    <button ng-click="expansionCypher()">Expansion Encrypt</button>
    <br>

    <button ng-click="expansionDecypher()">Expansion Decrypt</button>
    <br>

    <button ng-click="compactionCypher()">Compaction Encrypt</button>
    <br>

    <button ng-click="compactionDecypher()">Compaction Decrypt</button>
    <br>


  </div>
  </body>

  <script>
  require('./renderer.js')
  </script>
</html>
